    <div flex="25" layout="column" id="sidenav" class="md-whiteframe-1dp" layout-fill ng-if="isLogged">

    <md-input-container flex>
        <label>Recherche</label>
        <input ng-model="input">
    </md-input-container>

        <md-list style="height: 90%; overflow: auto">

            <md-list-item class="md-3-line" ng-click="null" ng-repeat="person in userFriends">

                <img ng-if="person.photo" ng-src="{{person.photo}}" class="md-avatar" alt="{{person.name}}" />
                <img ng-if="!person.photo" ng-src="" class="md-avatar" alt="Default" />

                <div class="md-list-item-text" layout="column">
                    <h3>{{person.name}}</h3>
                    <!--<h4 class="subText">{{title | textLimit : 30}}</h4>-->
                </div>
                <div class ="md-list-item-status" layout="column">
                    <md-icon md-svg-src="material-design:account_circle" ng-if="person.status=='1'" aria-label="android" style="color : #00ec4b"></md-icon>
                    <md-icon md-svg-src="material-design:account_circle" ng-if="person.status=='0'" aria-label="android" style="color : #a8a8a8"></md-icon>
                    <icon src = "dskdskldj/nfdknfd/fdjskf" alt = "bonjour" />
                </div>

            </md-list-item>

        </md-list>

        <div flex></div>

    </div>

    <!-- formulaire si pas connecté -->
    <form name="myForm" ng-submit="actions.onValid(myUserId)" ng-if="!isLogged">

        <md-subheader>Formulaire de connexion</md-subheader>

        <div layout="column" >
            <md-input-container >
                <label>Id de l'utilisateur</label>
                <input name="name" ng-model="myUserId" />
            </md-input-container>
        </div>


        <div layout="row" layout-align="start center">
            <md-button type="submit"><md-icon md-svg-src="material-design:done"></md-icon>Valider</md-button>
            <md-progress-circular ng-if="loading" class="md-warn md-hue-1" md-diameter="25"></md-progress-circular>
        </div>



    </form>
