<md-dialog aria-label="Mes requêtes d'ajout">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Mes requêtes d'ajout</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="material-design:cancel" aria-label="Fermer"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
            <span class="md-dialog-content">
                <md-input-container flex style="margin-bottom: -20px; left: -10px;">
                    <label>Recherche</label><input ng-model="input">
                </md-input-container>
            </span>
        <md-list style="height: 90%; overflow: auto">
            <md-list-item ng-click="acceptRequest(person)" class="md-3-line" ng-click="null" ng-repeat="person in people | filter: input | orderBy : 'person.name'">
                <img ng-if="person.photo" ng-src="{{person.photo}}" class="md-avatar" alt="{{person.name}}" />
                <img ng-if="!person.photo" ng-src="" class="md-avatar" alt="Default" />

                <div class="md-list-item-text" layout="column">
                    <h3>{{person.name}}</h3></div>
                <div class="md-list-item-status" layout="row">
                    <md-icon md-svg-src="material-design:cancel" aria-label="annuler" style="color:#ec1111"></md-icon>
                    <md-icon md-svg-src="material-design:done" aria-label="ajouter" style="color:#1111ec"></md-icon>
                </div>
            </md-list-item>
        </md-list>
    </md-dialog-content>